@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0em;
  font-family: "Raleway", sans-serif;
  /* text-align: center; */
  margin: 0em;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 95%;
  margin: 0 auto;
}
.unstyled-list * {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
}
a:link {
  text-decoration: none;
  color:white;
}
/* header
  ============= */
header {
  width: 100%;
  margin-top: 1em;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem auto;
  overflow: hidden;
  max-width: 100vw;
}
.nav-logo {
  width: 5.5rem;
}
.nav-link {
  display: flex;
  min-width: 15rem;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.nav-link a {
  text-decoration: none;
  color: black;
  padding: 0.5em;
}
.nav-items1 {
  color: grey;
  font-size: 0.8rem;
}
.nav-items2 {
  font-size: 0.8rem;
}
.signup-button {
  border-radius: 4rem;
  background-color: orange;
  color: white;
  box-shadow: none;
  border: none;
  cursor: pointer;
  height: 2rem;
  width: 3rem;
}
hr {
  margin-top: -1em;
  opacity: 0.2;
  min-width: 70%;
  max-width: 80%;
}
@media (min-width: 530px) {
  .nav-link {
    margin-left: 5em;
  }
}
@media screen and (min-width: 992px) {
  .nav-link {
    margin-left: 32em;
  }
  @media screen and (min-width: 1200px) {
    .nav-link {
      margin-left: 39em;
    }
  }
}
/* Hero
  ============= */
.hero-image {
  background-color: white;
  width: 100vw;
  height: 45vh;
  position: relative;
  text-align: center;
}
.hero-header {
  color: rgb(14, 14, 128);
  margin-top: 2rem;
  font-size: 1.4rem;
  
}
.hero-text {
  color: rgb(219, 67, 11);
  font-weight: 600;
  display: block;
 
}
.hero-text::after {
  content: "";
  display: block;
  background-color: orangered;
  height: 1.5px;
  width: 5rem;
  margin: 0.5em auto 0.5em;
  opacity: 0.7;
}
.search-tab {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 0.5em;
  width: 15rem;
  justify-content: center;
  position: relative;
}
.search-tab * {
  border-color: thistle;
  border: none;
}
.job,
.location,
.remote {
  border: 1.5px solid thistle;
}

.icon-1 {
  position: absolute;
  right: 1em;
  top: 0.7em;
  color: grey;
}
.icon-2 {
  position: absolute;
  right: 1em;
  top: 2em;
  color: grey;
}
.icon-3 {
  position: absolute;
  right: 0.8em;
  top: 3.2em;
  color: grey;
}
.search-tab button {
  background: orange;
  cursor: pointer;
  border: none;
  border-radius: 0.2em;
}
@media screen and (min-width: 992px) {
  .hero-image {
    height: 45vh;
  }
  @media screen and (min-width: 1200px) {
    .hero-image {
      height: 45vh;
    }
  }
  .search-tab {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    background-color: white;
    border-radius: 0.2em;
    width: 35rem;
    margin: auto;
    box-shadow: 2px 2px 2px 2px gray;
    height: 2rem;
    justify-content: center;
    align-items: center;
    
  }
  .job {
    padding: 7px;
    border: none;
    border-right: 0.5px solid gray;
    width: 28%;
    background: white;
    height: 0.8rem;
    margin-right: 0em;
    font-size: 0.8em;
    text-align: left;
  }
  .location {
    padding: 7px;
    border: none;
    border-right: 0.5px solid gray;
    width: 20%;
    background: white;
    height: 0.8rem;
    margin-left: 0em;
    font-size: 0.8em;
    text-align: left;
  }

  .remote {
    padding: 7px;
    border: none;
    border-right: 0.5px solid gray;
    width: 25%;
    background: white;
    height: 0.8rem;
    margin-right: 1em;
    font-size: 0.8em;
  }

  .search-tab button {
    width: 25%;
    background: orange;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border: none;
    cursor: pointer;
    height: 1.8rem;
    border-radius: 0.2em;
    /* opacity: 1 !important; */
  }
  .icon-1 {
    position: relative;
    left: 0.2em;
    top: 0.1em;
  }
  .icon-2 {
    position: relative;
    top: 0.1em;
    left: 0.3em;
  }
  .icon-3 {
    position: relative;
    top: 0.1em;
    left: 0.3em;
  }
}

.hero-image::after,
.hero-image::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 50px;
  background: rgb(63, 63, 236);
  bottom: -1em;
  z-index: 100;
}
.hero-image::before {
  right: 50%;
  transform: skew(0, 5deg);
}
.hero-image::after {
  left: 50%;
  transform: skew(0, -5deg);
}
@media screen and (min-width: 600px) {
  .hero-image::before {
    right: 50%;
    transform: skew(0, 5deg);
  }
  .hero-image::after {
    left: 50%;
    transform: skew(0, -5deg);
  }
 
}
@media screen and (min-width: 992px) {
  .hero-image::before {
    right: 50%;
    transform: skew(0, 3deg);
  }
  .hero-image::after {
    left: 50%;
    transform: skew(0, -3deg);
  }
}
/* Recruting company section
  ============= */
.recruiting-companies {
  background-color: rgb(63, 63, 236);
  width: 100%;
  height: 55vh;
  position: relative;
  z-index: 10;
  top: -1em;
}
.Job-header{
  text-align: center;
  margin-bottom: 5em;
  margin-top: 2em;
}

.recruiting-companies h2 {
  position: relative;
  top: 2.5em;
  color: white;
  font-weight: 900;
  text-align: center;
}

.recruiting-companies-list {
  width: 90vw;
  height: auto;
  padding: 0.5em;
  margin: auto;
}
.item-list {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  padding: 0.5em;
  width: 100%;
  background-color: rgb(223, 238, 233);
  margin-top: 3em;
  overflow: hidden;
}
.item-list img {
  width: 4em;
  height: 4em;
  padding: 0.5em;
}
@media screen and (min-width: 600px) {
  .item-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin-left: 5em;
    padding: 0.5em;
  }
  .item-list img {
    width: 5em;
    height: 5em;
    padding: 1em;
    margin-right: 0em;
  }
  .item-list span {
    position: absolute;
    top: 9em;
  }
}

@media screen and (min-width: 992px) {
  .item-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5em;
  }
}

/* Explore jobs
  ============= */
.explore-jobs{
  text-align: center;
}
.Job-header {
  color: rgb(30, 30, 145);
}
.card-style {
  min-width: 8rem;
  max-width: 95%;
  min-height: 8rem;
  max-height: auto;
  border-radius: 0.6rem;
  background-color: rgb(255, 250, 250);
  margin-bottom: 1rem;
  /* border: 1px solid rgba(255, 255, 255, 0); */
  opacity: 0.8;
  filter: drop-shadow(1px 1px 2px rgba(72, 71, 73, 0.959));
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border: none;
}
.card-style h4 {
  color: orange;
  font-size: 1.3em;
  margin-bottom: 0em;
}
.card-style span {
  font-size: 0.8em;
  font-weight: lighter;
}
.text-bold {
  font-weight: bolder;
  font-size: 0.9em;
}
.button{
  text-align: center;
}
.button button {
  min-width: 15vw;
  max-width: 20vw;
  background: orange;
  color: white;
  font-size: 12px;
  border: 1px solid grey;
  border: none;
  cursor: pointer;
  height: 1.8rem;
  border-radius: 2em;
  font-weight: bold;
  /* margin-left: 14em; */
  
}
.footer-text p {
  color: orange;
  font-size: 0.8em;
  font-weight: 500;
}

@media screen and (min-width: 720px) {
  .card-style {
    width: 70%;
    text-align: justify;
    padding-left: 2em;
  }
}
@media screen and (min-width: 992px) {
  .grid-col-span-2 {
    grid-column: span 2;
  }
  .explore-jobs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-inline: auto;
  }
  .card-style {
    width: 95%;
    margin: 0em;
  }
  .card {
    display: flex;
    margin: 0em;
    justify-content: space-between;
    align-items: flex-end;
  }
  .footer-text {
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;
    margin-right: 6.3em;
    cursor: pointer;
  }
  .button {
    margin-top: 2em;
    text-align: center;
  }
}

/* Footer last
  ============= */
.last-footer {
  background: linear-gradient(
    96.59deg,
    #233c7b 47.65%,
    rgba(0, 9, 75, 0.85) 114.17%
  );
  color: white;
  padding: 3em 0;
  padding-bottom: 1.5em;
  margin-top: 2em;
  display: block;
  height: auto;
  max-width: 100%;
}
.grid-span-col-2 {
  grid-column: span 2;
}
.last-footer-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;
  row-gap: 1.5em;
  align-items: start;
}
.last-footer-header {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  height: auto;
  border-bottom: 1px solid white;
  margin-left: 1em;
}
.last-footer-header img {
  width: 7rem;
}
.social-media *{
  width: 2rem;
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0 auto;
  padding: 0px;
}
.social-media img {
  width: 1.5em;
}
last-footer-body {
  display: block;
  text-align:justify;
}
.last-footer-body a{
  color: orange;
}
.header-style{
  font-weight:800;
  font-size: 1.2em;
  border-bottom: 1px solid ;
  text-align:justify ;
}
.ul-style {
  text-align: justify;
  padding-left: 0em;
}
.footer-end {
  display: flex;
  border-top: 1px solid;
  justify-content: center;
}
@media screen and (min-width:992px) {
  .last-footer-details{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
}
.footer-end {
  text-align: center;
  grid-column: span 5;
}
}